$gradient: linear-gradient(to right bottom, #f1ecfe, #ebfefd);

$colors: (
  neutral: (
    900: #212121,
    500: #d4c7fb,
    400: #5c5c5c,
    300: #615551,
    //normal text
    200: #918581,
    // lighter text
    100: #f8f8f8,
    50: #ffffff,
  ),
  link: (
    link-1: #64b5f6,
    link-2: #1e88e5,
  ),
  primary: (
    main-1: #ebfefd,
    main-2: #f1ecfe,
  ),
  accent: (
    gradient: $gradient,
  ),
);
