@use "../abstracts" as *;

.vsheetlog {
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.vimglog {
  height: 100px;
  align-items: flex-start;
  display: flex;
  margin: auto;
  margin-top: -55px !important;
}

.logh1 {
  font-family: unset;
  text-align: center;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 45px;
}
.htxt {
  text-align: center;
  color: clr(link, link-2);
  font-size: 18px;
  margin-top: 15px;
}

.vcard1 {
  height: 55px !important;
  width: 155px;
}

.captxt {
  font-size: 15px !important;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0333333333em !important;
  font-family: "Roboto", sans-serif !important;
  text-transform: none !important;
  display: inline-block;
  margin: 10px;
}

.n-link {
  text-decoration: none !important;
  color: clr(link, link-1) !important;
  margin-left: 10px;
}

.vfield {
  margin-top: 15px;
  margin-bottom: 10px;
}

.pad {
  padding: 10px;
}

.inktext {
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.logtxtfld {
  margin-bottom: 10px;
}

.vdiacard {
  padding: 10px !important;
}
