@use "../abstracts/" as *;

.log_sheet {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 5% !important;
  margin: auto;
  padding: size(16);
  width: 100%;
  border-radius: size(4) !important;
}

.head_title {
  font-size: size(50);
  font-weight: $fw-7;
}

.link1 {
  justify-content: left;
  display: grid;

  .link2 {
    margin-left: size(2);
    text-decoration: none;
    text-align: left !important;
    color: clr(link, link-2);
  }
}

.text_field {
  margin-top: size(6);
  margin-bottom: size(16);
  text-align: left;
}

.high_text {
  text-align: center;
  color: clr(link, link-2);
  font-size: size(6);
  margin-top: size(4);
  font-weight: $fw-6;
}

.ccc {
  margin-top: size(16);
  padding: 1px !important;
  text-align: center;

  .vcard {
    height: size(17);
    width: 100%;
    margin-bottom: size(16);

    .card_social {
      font-size: size(5);
      letter-spacing: size(0);
      display: inline-block;
      margin: size(4);
    }
  }
}

.link_text {
  font-size: size(16);
  margin-bottom: size(16);
  margin-top: size(4);

  .page_link {
    text-decoration: none;
    color: clr(link, link-2);
    margin-left: size(4);
  }
}

.img-logC {
  display: flex;
  justify-content: center;

  .img-logi {
    height: size(50);
    width: size(17);
    margin-bottom: size(28);
    margin-top: size(29);
  }
}
