@use "../abstracts" as *;

.logh1 {
  font-family: unset;
  text-align: center;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 45px;
}
.htxt {
  text-align: center;
  color: clr(link, link-2);
  font-size: 18px;
  margin-top: 15px;
}

// .fbtn {
//   display: flex;
//   align-items: center;
//   justify-content: space-between !important;
// }
.vcard1 {
  height: 55px !important;
  width: 155px;
  // margin-right: size(48);
  // margin-left: size(48);
}

.captxt {
  font-size: 15px !important;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0333333333em !important;
  font-family: "Roboto", sans-serif !important;
  text-transform: none !important;
  display: inline-block;
  margin: 10px;
}

.n-link {
  text-decoration: none !important;
  color: clr(link, link-1) !important;
  margin-left: 10px;
}

.vfield {
  margin-top: 15px;
  margin-bottom: 10px;
}

.pad {
  padding: 10px;
}

.inktext {
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.success {
  font-size: size(16);
  color: green;
}
