@use "../abstracts/" as *;

.space_bar {
  padding: size(3);

  .v_bar {
    border-radius: size(4) !important;
  }
}

.avtr_icon {
  margin-right: size(20) !important;
}

.profile_icon {
  background-color: clr(link, link-3) !important;
}

.Nicon_logo {
  height: size(12);
  width: size(13);
  margin-inline-start: 20px;
}

.Logo_name {
  font-family: $ff-base;
  font-weight: $fw-7 !important;
  font-size: size(10) !important;
  margin-left: size(3) !important;
}

.v_card {
  margin-top: size(5);
  right: size(20) !important;
  width: auto !important;
}

.title_text {
  font-size: size(20) !important;
  margin-top: size(16);
  margin-bottom: size(1);
  font-weight: $fw-6;
}

.sub_text {
  color: clr(link, link-2);
}
