@use "../abstracts/" as *;

.img_card {
  border-radius: unset !important;
  box-shadow: unset !important;
}
.petname_hd {
  font-size: size(12);
  font-weight: $fw-7;
  margin-left: size(4);
  font-family: $ff-df;
}

.sub_txt,
.med_Info {
  margin-top: size(4);
  margin-left: size(16);
  font-size: size(6);
  font-weight: $fw-6;
}

.btn_pdialog,
.btn_pdialog2 {
  display: grid;
  margin-right: size(40);
  margin-left: size(16);
  margin-top: size(1);
}

.btn_pdialog2 {
  margin-top: size(3);
}

.info_gap {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: size(5);
  font-size: size(16);
  font-family: $ff-df;
  margin-top: size(4);
}

.p {
  margin-bottom: size(3) !important;
}

.medialog {
  font-size: size(10);
  font-weight: $fw-6;
  margin-top: size(4);
  margin-left: size(4);
}

.remarks {
  margin-left: size(16);
  margin-right: size(20);
  font-family: $ff-df;
}

.subp {
  color: clr(link, link-2);
}

.btn_bck {
  margin-left: size(7);
  width: size(20%);
}
.btn_dlte {
  margin-right: size(4);
  width: size(20%);
}

.dp_wrapper {
  display: flex;
  height: size(130);
  width: size(130);
  margin-left: size(4);
  margin-top: size(66);
  position: relative;
}

.pet_dp {
  border: size(7) solid clr(neutral, 100);
  border-radius: size(4);
  display: block;
}

.btn_upload {
  position: absolute;
  top: size(50%);
  left: size(50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: clr(link, link-2) !important;
  size: size(20%) !important;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.3s ease;
  border-radius: size(4);
  background-color: clr(neutral, 200);
  background-color: clr(neutral, 300);
}

.dp_wrapper:hover .overlay {
  opacity: 1;
}
