@use "../abstracts/" as *;

.vcard_search {
  padding: size(16) !important;
  margin-top: size(4);
  text-align: left;
}

.vcard_list {
  padding: size(4) !important;
  height: 100%;
  background: clr(accent, gradient1) !important;
}

.vcardivider {
  margin-right: size(50);
  margin-top: -3px;
  border: size(0) solid clr(neutral, 400) !important;
  border-top-width: size(1) !important;
}

.vlistem {
  margin-bottom: size(7);
  margin-top: size(4);
  padding-top: size(7);
}

.vlist_cont {
  margin-top: size(10);
}

// .vlistemcon {
//   background-color: white;
//   border-radius: 10px;
//   padding-bottom: 25px;
//   padding-top: 10px;
// }

// .vpagin {
//   text-align: center !important;
//   margin-top: size(50) !important;
// }

.listLink {
  text-decoration: none;
  color: black;
}

// .item {
//   width: 350px;
//   margin: 0 auto 10px auto;
//   padding: 10px 20px;
//   color: white;
//   border-radius: 5px;
//   box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
//     rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
// }

.error {
  color: tomato !important;
  text-align: left;
  margin-left: size(12);
}

// PAGINATION
.vpagin {
  // text-align: center !important;
  // margin-top: 50px !important;

  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-items: center;
}

.pageText {
  font-size: 0.875rem;
  line-height: 1.25rem;
  flex-grow: 1;
}

.pages {
  display: flex;
  align-items: center;
  justify-items: center;
}

.linkPagination {
  margin-left: 0.75rem;
  margin-right: size(10);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(147, 197, 253, var(--tw-text-opacity));
  text-decoration: none;
}
