@use "../abstracts/" as *;

.pet {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}

.SpetInfo {
  font-size: size(24);
  font-family: monospace !important;
  text-align: center !important;
}

.form {
  margin-top: 15px !important;
}

.btnform {
  margin-bottom: 10px;
}
.v-imgf {
  margin-bottom: 10px;
}
