@use "../abstracts/" as *;

.card_container {
  justify-content: center;
  text-align: center;
  padding: size(7);
  width: 100%;
}

.imgform_cover {
  text-align: center;
  width: 95%;
  margin-top: size(8);
  height: size(22);
}

.form {
  margin-top: size(16) !important;
}

.btn_form {
  margin-top: size(3);
  margin-bottom: size(4);
}

.text_err {
  text-align: left;
}
