@use "../abstracts/" as *;

.pet {
  justify-content: center;
  text-align: center;
  padding: 8px;
  width: 100%;
}

.formimg {
  text-align: center;
  width: 95%;
  margin-top: 20px;
  height: 80px;
}
.SpetInfo {
  margin-bottom: -30px;
  font-size: size(24);
  font-family: monospace !important;
  text-align: center !important;
}

.form {
  margin-top: 15px !important;
}

.btnform {
  margin-bottom: 10px;
}
.v-imgf {
  margin-bottom: 10px;
}
