@use "../abstracts/" as *;

.tBar {
  background-color: clr(link, link-3) !important;
}

.headers {
  font-weight: $fw-3;
}

//CompleteButton.vue
.btnComplete {
  padding-top: size(3);
  padding-bottom: size(3);
  padding-right: size(4);
  padding-left: size(4);
  border-radius: size(7);
  border: size(0) solid clr(success, 100);
  color: clr(success, 100);
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.newcrd_form {
  width: size(120);
  padding: size(10);
}

.vcard_title {
  font-weight: $fw-5;
  margin-top: size(4);

  .span_title {
    font-size: size(10);
  }
}
