@use "../abstracts/" as *;

.tBar {
  background-color: clr(link, link-3) !important;
}

.headers {
  font-weight: 300;
}

//CompleteButton.vue
.btnComplete {
  padding-top: size(3);
  padding-bottom: size(3);
  padding-right: size(4);
  padding-left: size(4);
  border-radius: size(7);
  border: size(0) solid clr(success, 100);
  color: clr(success, 100);
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}
