@use "../abstracts/" as *;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 4vw auto;
  border-radius: size(4) !important;
  width: 75%;
  height: auto;
  background-color: clr(accent, gradient1) !important;
  overflow: hidden;
}

.navigation {
  height: auto;
  width: auto;
}

.record {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
}

.profileForm {
  width: 45%;
  // background-color: #fffbff !important;
  background: clr(accent, gradient) !important;
}

.profile {
  // background-image: url("/assets/images/bck.jpeg");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-color: #ffffff;
  background: clr(accent, gradient1) !important;
  width: 55%;
}

@media (min-width: 1600px) {
  .container {
    width: 65%;
  }
}
